NGS//SRR21901339.fasta
NGS//gatk-4.3.0.0.zip
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
NGS//SRR21901339.fasta
NGS//gatk-4.3.0.0.zip
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
NGS//SRR21901339.fasta
NGS//gatk-4.3.0.0.zip
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
NGS//gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
NGS/SRR21901339.fasta
NGS/gatk-4.3.0.0.zip
NGS/gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
NGS/gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
